body {
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: courier;
    text-align: justify;
}

canvas {
    background-color: white;
    display: block;
}

.lightMode {
    color: black;
    background-color: white;
}
.darkMode {
    color: white;
    background-color: black;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    height: fit-content;
    /*
    padding-top: 20px;
    padding-bottom: 20px;
    */
    width: 100%;
    overflow: hidden;
    
}

.topNavBar {
    background-color: rgb(100, 100, 100);
    
}

.topNavBar .navLink{ 
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 17px;
}

.topNavBar .navLink:hover,
.dropdown:hover .dropdownMain  {
    background-color: rgb(0, 80, 0);
}

.topNavBar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    min-width: 100px;

}

.dropdown .dropdownMain {
    min-width: 100px;

    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.dropdown_content {
    display: none;
    background-color: rgb(120, 120, 120);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_content a:hover {
    background-color: #ddd;
    
    -webkit-transition: .5s;
    transition: .5s;
}

.dropdown:hover .dropdown_content {
    display: block;
}



.light_dark {
    float: right;
    padding: 10px 10px 10px 0px;

}

/** switch */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    
    
}

.switch input {
    /*opacity: 0;*/
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(51, 50, 50);
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .5s;
    transition: .5s;
}

input:checked+.slider {
    background-color: green;
}

/**/
input:focus+.slider {
    box-shadow: 0 0 3px black;

}

input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}




.content{
    margin: 10%;
    width: 80%;

}

/*
#LAP {
    height: 100000000 px;
}
*/
#LAPStartGame {
    display: block;
}


#level {
    max-width:506px;
    background-color:rgb(194, 69, 11);
    color:rgb(255, 255, 255);
    font-size:150%;
    text-align:center;
}
#info {
    max-width:506px; 
    background-color:rgb(194, 69, 11); 
    color:rgb(255, 255, 255); 
    font-size:120%;
    text-align:center;
}

#gameExplanation {
    position: absolute;
    width: 300px;
    margin-top: -0px;
    margin-left: 15%;
    left: 510px;
    padding: 10px;
    line-height: 18.40px;
}
#LAPGameDownButtons {
    width: 504;
    position: relative;
    text-align: left;

}












.backHome {
    cursor: pointer;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(88, 87, 87);
    float: left;

}



